.timer {
  margin: auto;
  padding: 10px;
}
.timer progress[value] {
  -webkit-appearance: none;
  appearance: none;
}
.timer progress {
  width: 100%;
  height: 22px;
}
.timer progress[value]::-webkit-progress-bar {
  background-color: gainsboro;
}
.timer progress[value]::-webkit-progress-value {
  background-color: rebeccapurple;
  /* box-shadow: 1px 1px 5px 3px rgba(255, 0, 0, 0.8); */
}

.timer progress::-moz-progress-bar {
  background-color: greenyellow;
  border-radius: 7px;
  box-shadow: 1px 1px 5px 3px rgba(255, 0, 0, 0.8);
}
